@model SalesApp.Models.VPRModel
@{
    ViewBag.Title = "VPR Header";
}

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                @Html.LabelFor(model => model.PS02001)
                @Html.TextBoxFor(model => model.PS02001, htmlAttributes: new { @maxlength = "10", @class = "form-control border-radius-3" })
                @Html.ValidationMessageFor(model => model.PS02001, "", new { @class = "text-danger " })
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">

                @Html.LabelFor(model => model.SL01002)
                @Html.TextBoxFor(model => model.SL01002, htmlAttributes: new { @maxlength = "10", @class = "form-control border-radius-3" })
                @Html.ValidationMessageFor(model => model.SL01002, "", new { @class = "text-danger " })
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-md-12 padding-top-23 padding-left-0">
            <table class="table table-bordered table-responsive text-center">
                <thead class="bg-light-blue">
                    <tr>
                        <th scope="col" class="number-cell">SI NO</th>
                        <th scope="col" class="desc-cell">Item</th>
                        <th scope="col" class="number-cell">Quantity</th>
                        <th scope="col" class="number-cell">UOM</th>
                        <th scope="col" class="desc2-cell">Existing Item</th>
                        <th scope="col" class="number-cell">Pur.Price </th>
                        <th scope="col" class="name-cell">Vendor </th>
                        <th scope="col" class="radio-cell"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="checkbox" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="top-bottom-bordered">
        <div class="row">
            <h3>Vendor Search</h3>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS02018)
                    @Html.TextBoxFor(model => model.PS02018, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 15, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS02018, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS02019)
                    @Html.TextBoxFor(model => model.PS02019, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS02019, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS02020)
                    @Html.TextBoxFor(model => model.PS02020, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS02020, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-md-1 padding-top-23 padding-left-30">
                <div class="form-group">
                    <div>
                        <button type="submit" value="Save" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 padding-top-23 padding-left-0">
                <table class="table table-bordered table-responsive text-center">
                    <thead class="bg-light-blue">
                        <tr>
                            <th scope="col" class="name-cell">Vendor Name</th>
                            <th scope="col" class="name-cell">Category</th>
                            <th scope="col" class="name-cell">Rating</th>
                            <th scope="col" class="name-cell">Payment Terms</th>
                            <th scope="col" class="name-cell">Currency </th>
                            <th scope="col" class="name-cell">Balance</th>
                            <th scope="col" class="radio-cell"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type="checkbox" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="row">
         <div class="col-md-12 padding-top-23 padding-left-0">
            <table class="table table-bordered table-responsive text-center">
                <thead class="bg-light-blue">
                    <tr>
                        <th scope="col" class="number-cell">Line Item</th>
                        <th scope="col" class="desc-cell">Description</th>
                        <th scope="col" class="number-cell">Quantity</th>
                        <th scope="col" class="number-cell">UOM</th>
                        <th scope="col" class="name-cell">Vendor</th>
                        <th scope="col" class="btn-cell"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="submit" value="Clear" class="btn bg-red">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ">
            <div class="form-group">
                @Html.Label("Vendor")
                @Html.DropDownListFor(model => model.PS02013, new SelectList(Model.Vendor, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                @Html.ValidationMessageFor(model => model.PS02013, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-7">
            <div class="form-group">
                @Html.LabelFor(model => model.PS02022)
                @Html.TextAreaFor(model => model.PS02022, htmlAttributes: new { @class = "form-control border-radius-3 width-half", maxlength = 100, autocomplete = "off", })
                @Html.ValidationMessageFor(model => model.PS02022, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-md-12 padding-top-23 padding-left-0">
            <table class="table table-bordered table-responsive text-center">
                <thead class="bg-light-blue">
                    <tr>
                        <th scope="col" class="number-cell">Line Item</th>
                        <th scope="col" class="desc-cell">Description</th>
                        <th scope="col" class="number-cell">Quantity</th>
                        <th scope="col" class="number-cell">UOM</th>
                        <th scope="col" class="name-cell">Vendor</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



    


}