@model SalesApp.Models.RFQModel
@{
    ViewBag.Title = "RFQ Header";
}

@using (Html.BeginForm())
{
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-4">
                <div class="form-group">

                    @Html.LabelFor(model => model.PS01001)
                    @Html.TextBoxFor(model => model.PS01001, htmlAttributes: new { @maxlength = "10", @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01001, "", new { @class = "text-danger " })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">

                    @Html.LabelFor(model => model.PS01006)
                    @Html.TextBoxFor(model => model.PS01006, htmlAttributes: new { @type = "datetime-local", @class = "form-control border-radius-3", @onchange = "addDate(this)" })
                    @Html.ValidationMessageFor(model => model.PS01006, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01007)
                    @Html.TextBoxFor(model => model.PS01007, htmlAttributes: new { @type = "datetime-local", @class = "form-control border-radius-3", @id = "todate" })
                    @Html.ValidationMessageFor(model => model.PS01007, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01008)
                    @Html.TextBoxFor(model => model.PS01008, htmlAttributes: new { @type = "datetime-local", @class = "form-control border-radius-3", @id = "todate" })
                    @Html.ValidationMessageFor(model => model.PS01008, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("CS Person")
                    @Html.DropDownListFor(model => model.PS01013, new SelectList(Model.CSPerson, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01013, "", new { @class = "text-danger" })

                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Procurement Person")
                    @Html.DropDownListFor(model => model.PS01014, new SelectList(Model.ProcurePerson, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01014, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Sales Person")
                    @Html.DropDownListFor(model => model.PS01012, new SelectList(Model.SalesPerson, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01012, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Team Lead")
                    @Html.DropDownListFor(model => model.PS01015, new SelectList(Model.TeamLead, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01015, "", new { @class = "text-danger" })

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01030)
                    @Html.HiddenFor(model => model.PS01003)
                    @Html.EditorFor(model => model.PS01030, new { htmlAttributes = new { @class = "form-control margin-3 border-radius-3", maxlength = 40 } })
                    @Html.TextBoxFor(model => model.PS01030, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01031, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01032, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01033, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01034)
                    @Html.HiddenFor(model => model.PS01004)
                    @Html.EditorFor(model => model.PS01034, new { htmlAttributes = new { @class = "form-control margin-3 border-radius-3", maxlength = 40 } })
                    @Html.TextBoxFor(model => model.PS01034, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01035, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01036, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01037, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group margin-3 border-radius-3">
                    @Html.LabelFor(model => model.PS01023)
                    @Html.HiddenFor(model => model.PS01005)
                    @Html.EditorFor(model => model.PS01023, new { htmlAttributes = new { @class = "form-control margin-3 border-radius-3", maxlength = 40 } })
                    @Html.TextBoxFor(model => model.PS01023, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01024, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01025, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.TextBoxFor(model => model.PS01026, htmlAttributes: new { @class = "form-control margin-3 border-radius-3", maxlength = 35, autocomplete = "off" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Contact Person")
                    @Html.DropDownListFor(model => model.PS01017, new SelectList(Model.POC, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01015, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Currency")
                    @Html.DropDownListFor(model => model.PS01016, new SelectList(Model.PaymentTerm, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01015, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Payment Term")
                    @Html.DropDownListFor(model => model.PS01010, new SelectList(Model.Currency, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01015, "", new { @class = "text-danger" })

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01018)
                    @Html.TextBoxFor(model => model.PS01018, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 15, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS01018, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01019)
                    @Html.TextBoxFor(model => model.PS01019, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS01019, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01020)
                    @Html.TextBoxFor(model => model.PS01020, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 35, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS01020, "", new { @class = "text-danger" })
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01009)
                    @Html.TextBoxFor(model => model.PS01009, htmlAttributes: new { @type = "datetime-local", @class = "form-control border-radius-3" })
                    @Html.ValidationMessageFor(model => model.PS01009, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01021)
                    @Html.TextBoxFor(model => model.PS01021, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 25, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS01021, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Delivery Location")
                    @Html.DropDownListFor(model => model.PS01039, new SelectList(Model.DelivLlocation, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS01022)
                    @Html.TextAreaFor(model => model.PS01022, htmlAttributes: new { @class = "form-control border-radius-3 width-half", maxlength = 100, autocomplete = "off", })
                    @Html.ValidationMessageFor(model => model.PS01022, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-1 padding-top-23 padding-left-30">
                <div class="form-group">
                    <div>
                        <button type="submit" value="Save" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 padding-top-23 padding-left-30">
                <div class="form-group">
                    <div>
                        <button type="submit" value="Clear" class="btn bg-red">Clear</button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 padding-top-23 padding-left-30">
                <div class="form-group  ">
                    <div>
                        <button type="submit" value="Create" class="btn bg-green"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="padding-left-10">Line Items</h2>
        </div>

        <div class=" row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS03004)
                    @Html.TextAreaFor(model => model.PS03004, htmlAttributes: new { @class = "form-control border-radius-3 width-full", maxlength = 300, autocomplete = "off", })
                    @Html.ValidationMessageFor(model => model.PS03004, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS03005)
                    @Html.TextBoxFor(model => model.PS03005, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 25, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS03005, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("UOM")
                    @Html.DropDownListFor(model => model.PS03006, new SelectList(Model.DelivLlocation, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 padding-top-23">
                <table class="table table-bordered table-responsive text-center">
                    <thead class="bg-light-blue">
                        <tr>
                            <th scope="col" class="number-cell">Line Item</th>
                            <th scope="col" class="desc-cell">Description</th>
                            <th scope="col" class="number-cell">Quantity</th>
                            <th scope="col" class="number-cell">UOM</th>
                            <th scope="col" class="btn-cell"> </th>
                            <th scope="col" class="btn-cell"> </th>
                            <th scope="col" class="btn-cell"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button type="submit" value="Save" class="btn btn-primary">Edit</button></td>
                            <td><button type="submit" value="Clear" class="btn bg-red">Delete</button></td>
                            <td><button type="submit" value="Create" class="btn bg-green">Insert</button></td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
    </div>

}
