@model SalesApp.Models.RFQModel
@{
    ViewBag.Title = "RFQ Header";
}

@using (Html.BeginForm())
{
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="row">
            <h2 class="padding-left-10">Line Items</h2>
        </div>

        <div class=" row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS03004)
                    @Html.TextAreaFor(model => model.PS03004, htmlAttributes: new { @class = "form-control border-radius-3 width-full", maxlength = 300, autocomplete = "off", })
                    @Html.ValidationMessageFor(model => model.PS03004, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PS03005)
                    @Html.TextBoxFor(model => model.PS03005, htmlAttributes: new { @class = "form-control border-radius-3", maxlength = 25, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PS03005, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("UOM")
                    @Html.DropDownListFor(model => model.PS03006, new SelectList(Model.DelivLlocation, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control border-radius-3" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 padding-top-23">
                <table class="table table-bordered table-responsive text-center">
                    <thead class="bg-light-blue">
                        <tr>
                            <th scope="col" class="number-cell">Line Item</th>
                            <th scope="col" class="desc-cell">Description</th>
                            <th scope="col" class="number-cell">Quantity</th>
                            <th scope="col" class="number-cell">UOM</th>
                            <th scope="col" class="btn-cell"> </th>
                            <th scope="col" class="btn-cell"> </th>
                            <th scope="col" class="btn-cell"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button type="submit" value="Save" class="btn btn-primary">Edit</button></td>
                            <td><button type="submit" value="Clear" class="btn bg-red">Delete</button></td>
                            <td><button type="submit" value="Create" class="btn bg-green">Insert</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
