<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/jquery-jvectormap.css")
    @Styles.Render("~/Content/AdminLTE.min.css")
    @Styles.Render("~/Content/skins/_all-skins.min.css")
    @Styles.Render("~/Content/Site.css")

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">


        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b><font color="orange">R</font><font color="red">O</font></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b><font color="orange">Red</font><font color="gray"> |</font><font color="red"> Orange</font></b></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li><a href="#"><i class="fa fa-home"></i> <span>Home</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pencil-square-o"></i> <span> Generate Quote</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="orange-hover">
                            <li><a href="~/RFQ/Index"><i class="fa fa-circle-o"></i> Request For Quote </a></li>
                            <li><a href="~/VPR/Index"><i class="fa fa-circle-o"></i> Vendor Price Request </a></li>
                            <li><a href="~/VPD/Index"><i class="fa fa-circle-o"></i> Vendor Price Update </a></li>
                            <li><a href="~/QA/Index"><i class="fa fa-circle-o"></i> Quote Analysis </a></li>
                            <li><a href="~/FRT/Index"><i class="fa fa-circle-o"></i> Freight </a></li>
                            <li><a href="~/PM/Index"><i class="fa fa-circle-o"></i> Profit Margin </a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Quote   <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Order </a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pencil-square"></i>
                            <span> Enter / Adjust Orders</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="orange-hover">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Enter / Adjust &nbsp;&nbsp;SO</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Enter / Adjust &nbsp;&nbsp;PO</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            <span> Operations</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="orange-hover">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Project Cost Approval</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Delivery / Proforma Invoice</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Packing List </a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> PO Synopsis </a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Shipment Tracker</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Shipping Alert / POD</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Direct POD </a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Packing Details</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Commercial Invoice</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span> Master Files</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="orange-hover">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Customer Master</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Supplier Master </a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Currency Master</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Update Currency Rate</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cogs"></i> <span> Admin Console </span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="orange-hover">
                            <li><a href="#"><i class="fa fa-circle-o"></i> User files</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> CS / Proc. User</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Sales Person</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Purchaser</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-list-alt"></i> <span> Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" id="orange-hover">
                            <li><a href="#"><i class="fa fa-circle-o"></i> CS / Order Report</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> PE Incentive Report </a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> POD Report</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> WIP Report</a></li>

                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-envelope"></i> <span>Contact</span></a></li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>


        <div class="content-wrapper padding-left-30">
            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/Scripts/jquery.min.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/Scripts/adminlte.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
